# Node.js
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Playwright
playwright-report/
test-results/
allure-results/
allure-report/

# TypeScript
dist/
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Environment files
.env